name: Build with Maven

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Set up JDK 8
      uses: actions/setup-java@v3
      with:
        java-version: '8'
        distribution: 'temurin'
    
    - name: Build with Maven
      run: mvn clean package
    
    - name: Upload JAR
      uses: actions/upload-artifact@v3
      with:
        name: skyblock-2.0
        path: target/*.jar
